.item-left {
    margin-left: 10px;
    color: #fff;
    font-size:13px;
}

.filter-button {
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 80px;
    color: #fff;
    background-color: transparent;

}
.mt-10{
    margin-top: 10px;
}
.button-activate {
    background: #fff;
    color: black;
}

.filter-button-container {
    width: 80%;
}