.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: linear-gradient(90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%);

  padding: 16px 9px 16px 0px;
  border-radius: 5px;
  width: 90%;
  margin: 4px auto;
}

.todo-item:nth-child(4n + 1) {
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
}

.todo-item:nth-child(4n + 2) {
  background: linear-gradient(90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%);
}

.todo-item:nth-child(4n + 3) {
  background: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
}

.item-description {
  width: 85%;
  text-align: left;
  word-break: break-all;
  
}
.item-complete{
  text-decoration: line-through;
  opacity: 0.4;
}
.todo-list-container{
  height:50vh;
  overflow-y: auto;
}
.icon-container svg:hover {
  color: red;
  cursor: pointer
}

.tick-container {
  width: 5%;

}

input[type="checkbox"] {
  appearance: none;
  display: none;
}

.label-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 2px solid white;
  cursor: pointer;
}

input[type="checkbox"]:checked+.label-checkbox:after {
  content: '\2714';
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 4.5px;
  color: #fff;

}