.d-flex{
  display: flex;
}
.align-center{
  justify-content: center;
  align-items: center;
}
.text-center{
  text-align: center;
}
body{
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.space-between{
  justify-content: space-around;
}


@media only screen and (max-width: 600px) {
  .todo-container{
     width: 100%!important;
  }
  .tick-container{
    width: 12%!important;
  }
}